@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url('./assets/bg-dark-mode.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}

.mode-light {
    background-image: url('./assets/bg-light-mode.png');
    background-size: cover;
    background-position: center;

    p {
        color: #000;
        font-weight: 400;
    }

    figcaption {
        color: #000;
        font-weight: 400;
    }
}

.container {
    width: 100%;
    max-width: 588px;
}

img {
    border-radius: 999px;
    height: 122px;
    display: block;
    margin: 50px auto 0;
    transition: 0.5s;
}

figcaption {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    margin-top: 8px;
    text-align: center;
}

input {
    display: none;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    width: 54px;
    height: 20px;
    border-radius: 100px;
    margin-top: 24px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    cursor: pointer;
    position: relative;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    overflow: hidden;

    i {
        position: absolute;
    }
}

.bx.bxs-moon {
    margin-top: 0%;
    color: #000;
}

.bx.bxs-sun {
    color: #000;
    margin-top: 50px;
}

input[type=checkbox]:checked + .display label {
    border: 1px solid #776a74;
    background: #eed2e8;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

input[type=checkbox]:checked + .display label .circle {
    left: 100%;
    transform: translate(-96%, -50%);
    background: #fff;
}

input[type=checkbox]:checked + .display label .circle .bx.bxs-moon {
    margin-top: 50px;
}

input[type=checkbox]:checked + .display label .circle .bx.bxs-sun {
    margin-top: 0%;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    width: 100%;

    a {
        text-decoration: none;
        padding: 14px;
        font-weight: 600;
        font-size: 16px;
        border-radius: 8px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        gap: 10px
    }

    a:hover {
        transform: scale(1.1,1.1);
    }

    i {
        font-size: 25px;
    }

    .link-email {
        background-color: #0040ff;
        color: #fff;
    }

    .link-github {
        background-color: #000;
        color: #fff;
        border: 1px solid #fff;
    }

    .link-instagram {
        background: linear-gradient(
            13deg,
            #fa7e1e,
            #d62976,
            #962fbf,
            #4f5bd5
        );
        color: #fff;
    }
}

p {
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}

@media (max-width: 1040px) {
    body {
        background-image: url('./assets/bg-mobile.jpg');
        background-size: cover;
        background-position: center;
    }

    .mode-light {
        background-image: url('./assets/bg-mobile-light.jpg');
        background-size: cover;
        background-position: center;
    }
}