@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url('./assets/bg-dark-mode.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 588px;
}

img {
    border-radius: 999px;
    height: 122px;
    display: block;
    margin: 50px auto 0;
}

figcaption {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    margin-top: 8px;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 10px;
    padding: 24px;
    width: 100%;

    a {
        text-decoration: none;
        padding: 14px;
        font-weight: 600;
        font-size: 16px;
        border-radius: 8px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        gap: 10px
    }

    a:hover {
        transform: scale(1.1,1.1);
    }

    i {
        font-size: 25px;
    }

    .link-email {
        background-color: #0040ff;
        color: #fff;
    }

    .link-linkedin {
        background-color: #1877f2;
        color: #fff;
    }

    .link-github {
        background-color: #000;
        color: #fff;
        border: 1px solid #fff;
    }

    .link-instagram {
        background: linear-gradient(
            13deg,
            #fa7e1e,
            #d62976,
            #962fbf,
            #4f5bd5
        );
        color: #fff;
    }
}

p {
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}

@media (max-width: 1040px) {
    body {
        background-image: url('./assets/bg-mobile.jpg');
        background-size: cover;
        background-position: center;
    }
}