@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

:root {
    /* dark mode */
    --text-color-dark: #ffffff;
    --stroke-color-dark: rgba(255, 255, 255, 0.5);
    --surface-color-dark: rgba(255, 255, 255, 0.1);
    --surface-hover-dark: rgba(255, 255, 255, 0.05);
    --highlight-color-dark: rgba(255, 255, 255, 0.2);

    /* light mode */
    --text-color-light: #000000;
    --stroke-color-light: rgba(0, 0, 0, 0.5);
    --surface-color-light: rgba(0, 0, 0, 0.05);
    --surface-hover-light: rgba(0, 0, 0, 0.02);
    --highlight-color-light: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-image: url('./assets/bg-dark-mode.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}

.container {
    width: 100%;
    max-width: 588px;
}

img {
    border-radius: 50%;
    height: 112px;
    border: 2px solid var(--stroke-color-dark);
    display: block;
    margin: 50px auto 0;
}

figcaption {
    color: var(--text-color-dark);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
    text-align: center;
}

input {
    display: none;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    width: 62px;
    height: 22px;
    border-radius: 100px;
    margin-top: 24px;
    background: var(--surface-color-dark);
    border: 1px solid var(--stroke-color-dark);
    cursor: pointer;
    position: relative;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--text-color-dark);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    overflow: hidden;

    i {
        position: absolute;
    }
}

.bx.bx-moon {
    margin-top: 0%;
    color: var(--text-color-light);
}

.bx.bx-sun {
    color: var(--text-color-light);
    margin-top: 50px;
}

input[type=checkbox]:checked + .display label {
    border: 1px solid var(--stroke-color-light);
    background: var(--surface-color-light);
}

input[type=checkbox]:checked + .display label .circle {
    left: 100%;
    transform: translate(-96%, -50%);
    background: var(--text-color-dark);
}

input[type=checkbox]:checked + .display label .circle .bx.bx-moon {
    margin-top: 50px;
}

input[type=checkbox]:checked + .display label .circle .bx.bx-sun {
    margin-top: 0%;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 30px 24px 24px;
    width: 100%;

    a {
        text-decoration: none;
        padding: 16px 24px;
        color: var(--text-color-dark);
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        border-radius: 8px;
        background: var(--surface-color-dark);
        border: 1px solid var(--stroke-color-dark);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background: var(--surface-hover-dark);
            border: 1px solid var(--text-color-dark);
        }
    }
}

.social-icons {
    font-size: 25px;
    margin-bottom: 24px;
    display: flex;
    gap: 25px;
    justify-content: center;;

    a {
        color: var(--text-color-dark);
        text-decoration: none;

        i {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background: var(--highlight-color-dark);
                border-radius: 50%;
            }
        }
    }
}

p {
    text-align: center;
    color: var(--text-color-dark);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    span {
        border-bottom: 1px solid var(--text-color-dark);
    }
}

.mode-light {
    background-image: url('./assets/bg-light-mode.png');
    background-size: cover;
    background-repeat: no-repeat;

    img {
        border: 2px solid var(--stroke-color-light);
    }

    figcaption {
        color: #000;
    }

    .links {
        a {
            background: var(--surface-color-light);
            border: 1px solid var(--stroke-color-light);
            color: var(--text-color-light);
    
            &:hover {
                background: var(--surface-hover-light);
                border: 1px solid var(--text-color-light);
            }
        }
    }

    .social-icons {
        a {
            color: var(--text-color-light);

            i:hover {
                background: var(--highlight-color-light);
            }
        }
    }

    p {
        color: var(--text-color-light);

        span {
            border-bottom: 1px solid var(--text-color-light);
        }
    }
}

@media (max-width: 1040px) {
    body {
        background-image: url('./assets/bg-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .mode-light {
        background-image: url('./assets/bg-mobile-light.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}